
/**** RESET ****/
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
	display: block;}
  

/****************************************************Nav Bar*************************************************/
nav ul {
    position: sticky;
    margin: 1em 0;
    width: 100%;
    top: 0;
    font-family: 'Montserrat';
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #bbb;

  }
  
  nav li {
    float: right;
  }
  
  nav li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav li a {
    text-decoration: none;
    color: black;
  }

  
  nav li a:hover:not(.active) {
    color: green;
    
  }

  nav li a:hover:is(.active){
    color: black;
  }
  
  nav .active {
   color: #04AA6D;
  }

 @media screen and (max-width: 746px){
  .navbar ul > li> a:not(.active){
    display: none;
  }
   .navbar ul > li> a.menu{
    color: black;
    background-image: url("assets/css/images/bars.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 1em;
    width: 1em;
    text-align: center;
  }
  .navbar ul > li> a.menu > span{
    display: none;
  }

  
 }

 @media screen and (max-width: 600px){
  .navbar ul > li > a:is(.active){
    display: none;
  }
  
  .navbar ul > li> a.house{
    color: green;
    background-image: url("assets/css/images/house.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 1em;
    width: 1em;
    text-align: center;
  }
  .navbar ul > li> a.active > span{
    display: none;
  }
 }

 /************************************** Banner *********************************************************/
 
 section{
  display: flex;
  justify-content: center;

 }
 .banner{
  padding: 4em 1em;
  align-items: center;
  border: 3px solid #357724;
 
 }
 banner.name{
  font-size: 2em;
 }

 .about{
  padding: 2em 9em;
  border: 3px solid #fff8dc;
 }

 .skills{
  padding: 2em 9em;
  border: 3px solid #92ce22;
 }

 .portfolio{
  padding: 2em 9em;
  border: 3px solid #a72537;
 }

 .certs{
  padding: 2em 9em;
  border: 3px solid #8f8ad6;
 }
/*************************************************** Footer *************************************************/

footer {
  padding: 4rem 0 ;
  background-color: #1d242a;
  text-align: center;
  list-style:none;
  display: block;
 
  
}
footer ul{
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  /* width: 50%; */
}

footer li{
  display: inline-block;
  padding: 0 1rem;
}

footer li a{
  text-decoration:none;
}

.icons, .copyright{
  display: inline-block;
}

.icons a {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1em;
    }

.icons a:hover {
        color: #fff;
}

 .copyright{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    letter-spacing: 0.225em;
    padding: 0;
    text-transform: uppercase;
  }

 /* Media Screen Adjustments for Footer */
@media screen and (max-width: 480px) {
    footer .copyright li {
      border: 0;
      display: block;
      line-height: 1.65em;
      margin: 0;
      padding: 0 0;
    }

    footer ul{
      width:100%;
      list-style-type: none;
      margin: 0.3em 0;
      padding: 0;
    }

    footer li{
      display: inline-block;
      padding: 0 1rem;
      text-align: center;
      vertical-align: center;

    }
  }

  @media screen and (max-width: 980px) {
    footer {
      padding: 4em 3em 4em 3em ;
    }
}

  @media screen and (max-width: 736px) {
    footer {
      padding: 2em 2em 2em 2em ;
    }

    .icons a, .copyright{
      font-size: 0.75em;
    }
  }