*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body{
  min-height: 100vh;
}
/****************************************************Nav Bar*************************************************/

nav {
    position: fixed;
    margin: 1em 0;
    width: 100%;
    top: 0px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #bbb;

  }

  nav ul{
    display: inline;
  }
  
  nav li {
    float: right;
  }
  
  nav li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav li a {
    text-decoration: none;
    color: black;
  }

  
  nav li a:hover:not(.active) {
    color: green;
    
  }

  nav li a:hover:is(.active){
    color: black;
  }
  
  nav .active {
   color: #04AA6D;
  }

 @media screen and (max-width: 650px){
   .navbar ul {
    display: inline;
   }
  .navbar ul > li> a:not(.active){
    display: none;
  }
   .navbar ul > li> a.menu{
    background-image: url("assets/css/images/bars.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 1em;
    width: 1em;
  }

  .navbar ul > li> a.menu > span{
    display: none;
  }
 }

 @media screen and (max-width: 746px){
  .navbar ul{
    display: inline;
  }
  .navbar ul > li > a:is(.active){
    display: none;
  }
  
  .navbar ul > li> a.house{
    background-image: url("assets/css/images/house.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 1em;
    width: 1em;
    /* text-align: center; */
  }

  .navbar ul > li> a.active > span{
    display: none;
  }
 }

 /************************************** Body *********************************************************/
 
 section{
  display: flex;
  justify-content: center;

 }
 .banner{
  padding: 10em 1em;
  align-items: center;
  border: 3px solid #357724;
 
 }
 banner.name{
  font-size: 2em;
 }

 .about{
  padding: 2em 2em;
  border: 3px solid #0e0b02;
  font-size: 1em;
 }

 .skills{
  padding: 2em 9em;
  border: 3px solid #92ce22;
 }

 .portfolio{
  padding: 2em 9em;
  border: 3px solid #a72537;
 }

 .container{
  width: 100%;
 }

 .slide-certs{
  margin: 0 30px;
  overflow: hidden;
 }

 #certs{
  border: 3px solid #d6c48a;
  display: flex;
  align-items: center;
  justify-content: center;

 }

 .card{
   width: 312px;
   background: #fff;
   border-radius: 8px;
   display: block;
 }
 .card .image-box{
    height: 98%;
    width: 98%;
 }

 .card .image-box img{
  width: 100%;
  height: 100%;
  border-radius: 2px 2px 0 0;
}

.swiper-button-prev.swiper-navBtn, 
.swiper-button-next.swiper-navBtn{
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;

}

.swiper-button-prev.swiper-navBtn::after{
  font-size: 18px;
}
.swiper-button-next.swiper-navBtn::after{
  font-size: 18px;

}

.swiper-pagination-bullet{
  background-color: #000;
}

@media screen and (max-width: 768px){
  .swiper-button-prev.swiper-navBtn, 
  .swiper-button-next.swiper-navBtn{
    display:none;
   }
  }

/*************************************************** Footer *************************************************/

footer {
  padding: 4rem 0 ;
  background-color: #1d242a;
  text-align: center;
  list-style:none;
  display: block;
}

footer ul{
  list-style-type: none;
  margin: 10px 0;
  padding: 0;

}

footer li{
  display: inline-block;
  padding: 0 1rem;
}

footer li a{
  text-decoration:none;
}

.icons, .copyright{
  display: inline-block;
}

.icons a {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1em;
    }

.icons a:hover {
        color: #fff;
}

 .copyright{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    letter-spacing: 0.225em;
    padding: 0;
    text-transform: uppercase;
  }

 /* Media Screen Adjustments for Footer */
@media screen and (max-width: 480px) {
    footer .copyright li {
      border: 0;
      display: block;
      line-height: 1.65em;
      margin: 0;
      padding: 0 0;
    }

    footer ul{
      width:100%;
      list-style-type: none;
      margin: 0.3em 0;
      padding: 0;
    }

    footer li{
      display: inline-block;
      padding: 0 1rem;
      text-align: center;
      vertical-align: center;

    }
  }

  @media screen and (max-width: 980px) {
    footer {
      padding: 4em 3em 4em 3em ;
    }
}

  @media screen and (max-width: 736px) {
    footer {
      padding: 2em 2em 2em 2em ;
    }

    .icons a, .copyright{
      font-size: 0.75em;
    }
  }